<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Form</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Fill Out This Form!
        </h1>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" placeholder="Email">
        </div>
        <p class="help is-danger"></p>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" placeholder="Password">
        </div>
        <p class="help is-danger"></p>
      </div>

      <div class="field">
        <label class="label">Location</label>
        <div class="control">
          <input class="input" type="text" placeholder="Location">
        </div>
        <p class="help is-danger"></p>
      </div>

      <div class="field">
        <label class="label">When Did You First Learn to Code?</label>
        <div class="control">
          <input class="input" type="date">
        </div>
        <p class="help is-danger"></p>
      </div>

      <div class="field">
        <label class="label">Your Favorite Programming Language</label>
        <div class="control">
          <div class="select">
            <select>
              <option>Python</option>
              <option>JavaScript</option>
              <option>PHP</option>
              <option>Ruby</option>
              <option>C++</option>
              <option>Go</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Tell Me About Yourself</label>
        <div class="control">
          <textarea class="textarea" placeholder="I am..."></textarea>
        </div>
        <p class="help is-danger"></p>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            What do you want to learn?
          </label>
          <label class="checkbox">
            <input type="checkbox">
            Web Apps
          </label>
          <label class="checkbox">
            <input type="checkbox">
            Mobile Apps
          </label>
          <label class="checkbox">
            <input type="checkbox">
            APIs
          </label>
        </div>
        <p class="help is-danger"></p>
      </div>

      <div class="field">
        <div class="control">
          <label class="radio">
            Are you interested in learning a new language?
          </label>
          <label class="radio">
            <input type="radio">
            Yes
          </label>
          <label class="radio">
            <input type="radio">
            No
          </label>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
      </div>
    </div>
  </section>
</body>

</html>